.clearfix::after  {
  display: block;
  content: "";
  clear: both;
}

.base_font {
  font-family: 'Lato' , sans-serif;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 15px 0;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.contact {
  text-align: center;
  font-size: 12px;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 14px 12px;
  background-color: #74cfae;
}

.contact:hover {
  color: #333;
}

.wraper {
  padding-top: 62px;
}

.title {
  width: 100%;
  background-color: #f2f2f2;
}

.title-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}

.theme {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  font-family: 'Raleway' , sans-serif;
}

.theme_text {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

.main_what {
  background-color: #74cfae;
}

.what-inner {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.img-iphone {
  display: inline-block;
  width: 175px;
}

.main_what-box {
  margin-left: 150px;
  text-align: center;
}

.main_what_title {
  color: #fff;
  font-size: 24px;
  font-family: 'Raleway' , sans-serif;
}

.main_what-text {
  color: #fff;
  font-size: 20px;
  width: 550px;
  margin-top: 35px;
  line-height: 25px;
}

.latest {
  background-color: #f2f2f2;
  width: 100%;
}

.latest-inner {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.latest-title {
  color: #333;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway' , sans-serif;
}

.img-box-margin {
  margin-left: 100px;
  margin-top: 80px;
}

.img-box-margin:nth-child(-n+3){
  margin-top: 0;
}

.img-box-margin:nth-child(3n+1){
  margin-left: 0;
}

.latest-img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap
}

.latest-img-box {
  transition:	all 0.3s ease;
  opacity: 0.7;
  display:block;
}

.latest-img-box:hover {
  opacity: 1;
}

.latest-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.latest-text-title {
  width: 500px;
  color: #333;
  line-height: 25px;
}

.latest-email {
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-left: 90px;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 14px 20px;
  background-color: #74cfae;
}

.latest-email:hover {
  color: #333;
}

.skills {
  width: 100%;
  background-color: #4e4e4e;
}

.skills-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-family: 'Raleway' , sans-serif;
}

.skills-flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.skills-box {
  font-size: 16px;
  text-align: center;
  margin-left: 180px;
  color: #fff;
}

.skills-box:first-child {
  margin-left: 0;
}

.skills-text {
  margin-top: 10px;
}

.sns {
  width: 100%;
  background-color: #f2f2f2;
}

.sns-inner {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-box {
  width: 185px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: #74cfae;
  text-decoration: none;
}

.sns-box:hover {
  background-color: #fff;
  width: 185px;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: end;
}

.footer-inner {
  color: #fff;
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .contact {
    display: block;
  }

  .menu-icon-sp {
    display: none;
  }

  .menu-icon-sp div {
    display: none;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .inner {
    width: 100%;
  }

  .contact {
    display: block;
  }

  .menu-icon-sp {
    display: none;
  }

  .menu-icon-sp div {
    display: none;
  }

  .what-inner {
    flex-flow: column;
    padding-bottom: 25px;
  }

  .img-iphone {
    align-items: center;
    margin: 0 auto;
  }

  .main_what-box {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .main_what-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .latest-img {
    flex-flow: column;
  }
  
  .latest-img-box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .img-box-margin {
    margin-left: 0px;
    margin-top: 0px;
  }
  
  .img-box-margin:nth-child(4){
    margin-top: 80px;
  }

  .latest-text {
    flex-flow: column;
  }

  .latest-text-title {
    width: 100%;
  }

  .latest-email {
    margin: 40px auto 0px;
  }

  .latest-text {
    margin-top: 80px;
  }

  .skills-flex {
    flex-flow: column;
  }

  .skills-box {
    margin-left: 0px;
    margin-top: 88px;
  }

  .skills-box:first-child {
    margin-top: 0%;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    width: 100%;
  }

  .contact {
    display: none;
  }
  
  .menu-icon-sp {
    position: relative;
    display: inline-block;
    width: 28px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }

  .menu-icon-sp div {
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #ddd;
    border-radius: 4px;
    display: inline-block;
  }

  .menu-icon-sp div:nth-of-type(1) {
    bottom: 20px;
  }

  .menu-icon-sp div:nth-of-type(2) {
    bottom: 15px;
  }

  .menu-icon-sp div:nth-of-type(3) {
    bottom: 10px;
  }

  .title-inner{
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme {
    font-size: 80px;
  }

  .what-inner {
    flex-flow: column;
    padding-bottom: 25px;
  }
  
  .img-iphone {
    align-items: center;
    margin: 0 auto;
  }
  
  .main_what-box {
    margin-top: 20px;
    margin-left: 0;
  }
  
  .main_what-text {
    width: 100%;
  }

  .img-box-margin {
    margin-left: 0px;
    margin-top: 0px;
  }
  
  .img-box-margin:nth-child(4){
    margin-top: 80px;
  }

  .latest-img-box img {
    width: 90%;
  }

  .latest-img {
    flex-flow: column;
  }

  .latest-text {
    flex-flow: column;
  }

  .latest-text-title {
    width: 100%;
  }

  .latest-email {
    margin: 40px auto 0px;
  }

  .latest-text {
    margin-top: 80px;
  }

  .skills-flex {
    flex-flow: column;
  }

  .skills-box {
    margin-left: 0px;
    margin-top: 88px;
  }

  .skills-box:first-child {
    margin-top: 0%;
  }

  .sns-inner {
    flex-flow: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sns-box {
    width: 100%;
  }

  .sns-box:hover {
    width: 100%;
  }
}
